<div class="col-12">
    <div class="card card-body">
        <div class="container">
            <div class="maintenance-wrapper text-center py-5">
                <div class="maintenance-status">Under
                    <br>Construction
                </div>
                <h2 class="maintenance-heading text-primary mb-3">This Page is Under Construction. We'll Be Live Soon.
                </h2>
                <p class="maintenance-text mb-4 maxw-md-500px mx-auto">Our website is under construction, but we are
                    ready to go! Special surprise for our subscribers only.</p>
                <form class="d-flex align-items-center maxw-md-450px position-relative m-auto" action="#">
                    <i class="fi fi-rr-envelope position-absolute start-0 ms-4"></i>
                    <input type="text" class="form-control form-control-lg ps-7" placeholder="Email Address">
                    <button type="button" class="btn btn-primary position-absolute end-0 waves-effect waves-light me-1">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>