<%- include('layout', { subject: 'Password Reset Request' , body: ` <h2>Hello, ${name}!</h2>
    <p>You requested a password reset. Click the link below to verify your email and set a new password:</p>
    <div style="text-align: center;">
        <a href="${actionUrl}" class="btn">Reset Password</a>
    </div>
    <p>This link will expire in 1 hour.</p>
    <p>If you didn't request this, please ignore this email.</p>
    ` }) %>