<%- include('layout', { subject: 'Password Changed Successfully' , body: ` <h2>Hello, ${name}!</h2>
    <p>Your password has been successfully changed.</p>
    <p>You can now login with your new password.</p>
    <div style="text-align: center;">
        <a href="${actionUrl}" class="btn">Login Now</a>
    </div>
    ` }) %>