<footer class="footer-wrapper bg-body">
      <div class="container-fluid">
        <div class="row g-2">
          <div class="col-lg-6 col-md-7 text-center text-md-start">
            <p class="mb-0">© <span class="currentYear"><%= new Date().getFullYear() %></span> Dashboard. Proudly powered by <a href="https://seyfooksck.dev" target="_blank">seyfo</a>.</p>
          </div>
          <div class="col-lg-6 col-md-5">
            <ul class="d-flex list-inline mb-0 gap-3 flex-wrap justify-content-center justify-content-md-end">
              <li>
                <a class="text-body" href="/">Home</a>
              </li>
              <li>
                <a class="text-body" href="javascript:void(0);">Destek</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>